body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

header {   
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    text-align: center;
}
   
.post   {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.post img {
    width: 20%;
    height: auto;
    max-height: 600px;
}

.post p {
    padding: 15px;
}
